<header th:fragment="siteHeader">
  <div class="container">
    <div class="logo">
      <img
        src="https://ivie.vn/_next/image?url=%2F_next%2Fstatic%2FIVIE_logo.svg&w=384&q=75"
        alt="IVIE Logo"
      />
    </div>
    <nav>
      <ul>
        <li><a href="#">Đặt khám</a></li>
        <li><a href="#">Hỏi đáp bác sĩ</a></li>
        <li><a href="#">Hồ sơ sức khỏe</a></li>
        <li><a href="#">Tải App</a></li>
        <li><a href="#">Trung tâm trợ giúp</a></li>
      </ul>
    </nav>
    <div class="auth">
      <a href="#">Đăng ký</a>
      <a href="#">Đăng nhập</a>
    </div>
  </div>
</header>
