<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IVIE - Phiên bản đơn giản</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/css/contentmain.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
  </head>
  <body>
    <div th:replace="fragments/header :: siteHeader"></div>

    <div th:replace="pages/home :: homeContent"></div>

    <div th:replace="fragments/footer :: siteFooter"></div>
  </body>
</html>
